html {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 33px;
}

p {
    Size: 18px;
    Line-height: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;


    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;

    background: #C4C4C4;

}

.Sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 100px;

    background: #F3F3F3;
}

.listas {
    display: flex;
    flex-wrap: wrap;

}

ul,
ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

.hobbies {
    Width: Hug (595px);
    Height: Hug (249px);
    Top: 200px;
    Left: 111.5px;
    Padding: 20px;

    text-align: right;
}

.Top5 {
    Width: Hug (595px);
    Height: Hug (249px);
    Top: 20px;
    Left: 111.5px;
    Padding: 20px;
}

li {
    margin: 10px;
    width: 104px;
    height: 150px;
    box-shadow: 5px 10px 5px gray;
    border-radius: 5px;
    background-color: #DFDFDF;
    font-size: 18px;
    text-align: center;
}

.Top5 li {
    font-size: 36px;
}

header>h1 {
    font-size: 40px;
    line-height: 55px;
}


#Foto_Perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

#Outer_Wilds {
    background-image: url("src_img/outer-wilds.jpg");
    background-size: cover;
}

#Minecraft {
    background-image: url("src_img/Minecraft.jpg");
    background-size: cover;
}

#Pokemon {
    background-image: url("src_img/Pokemon.png");
    background-size: cover;
}

#The_Witcher_3 {
    background-image: url("src_img/The_Witcher_3.jpg");
    background-size: cover;
}

#Hades {
    background-image: url("src_img/Hades.jpg");
    background-size: cover;
}